<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style/navbar_before.css')}}"
    />
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <p onclick="location.assign('/')">Uber</p>
      </div>
      <div class="nav-right">
        <a href="/">
          <span>Home</span>
        </a>
        <a href="#" id="signInButton">
          <span>Profile</span>
        </a>
      </div>
    </nav>
    <div class="drop_down_menu hidden" id="dropDownMenuLog">
      <div class="close-btn" id="closeBtnLog">
        <i class="fa-solid fa-times"></i>
      </div>
      <div class="as_driver">
        <p onclick="location.assign('/login')">Sign in as a Rider</p>
      </div>
      <div class="as_rider">
        <p>Sign in as a Driver</p>
      </div>
    </div>

    <script src="{{url_for('static', filename='scripts/navbar.js')}}"></script>
  </body>
</html>
