<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style/login.css')}}"
    />
    <script
      src="https://kit.fontawesome.com/5eabe89611.js"
      crossorigin="anonymous"
    ></script>
    <title>Login</title>
  </head>
  <body>
    {% include 'components/blank_navbar.html' %}
    <div class="content_container">
      <div class="login_wrapper">
        <h2>Mr Driver What's your phone number or email?</h2>
        <!--  prettier-ignore -->

        <form autocomplete="off" method="post">
          {{ form.csrf_token }} {{ form.hidden_tag() }}{{
          form.email(class="email_input", placeholder="Enter phone number or email", autocomplete="false") }} {{form.submit(class="submit_btn")}}
        </form>
      </div>
      <!-- prettier -->
      <div class="or_wrapper">
        <div class="line"></div>
        <p>or</p>
        <div class="line"></div>
      </div>
      <div class="login_with_social">
        <button class="facebook">
          <i class="fab fa-facebook-f"></i>
          <p>Continue with Facebook</p>
        </button>
        <button class="google">
          <img
            src="{{url_for('static', filename='/assets/google.png')}}"
            alt=""
          />
          <p>Continue with Google</p>
        </button>
      </div>
      <div class="login_footer">
        <span
          >By proceeding, you consent to get calls, WhatsApp or SMS messages,
          including by automated means, from Uber and its affiliates to the
          number provided.</span
        >
        <span
          >This site is protected by reCAPTCHA and the Google Privacy Policy and
          Terms of Service apply.</span
        >
      </div>
    </div>

    <script src="{{url_for('static', filename='scripts/login.js')}}"></script>
  </body>
</html>
