<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style/home.css')}}"
    />
    <script
      src="https://kit.fontawesome.com/5eabe89611.js"
      crossorigin="anonymous"
    ></script>
    <title>Uber</title>
  </head>
  <body>
    {% if current_user.is_authenticated %} {% include
    'components/ride_navbar.html' %} {% else %} {% include
    'components/navbar_before.html' %} {% endif %}

    <div class="main-screen">
      <div class="home-left">
        <div class="home-left-wrapper">
          <h1>Always the ride you want</h1>
          <div class="direction-input-form">
            <p>Request a ride, hop in, and go.</p>
            <form action="/ride" method="post" id="directionHomeForm">
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-square"></i>
              <i class="fa-solid fa-square"></i>
              <i id="getLocation" class="fa-solid fa-location-arrow"></i>
              <div class="line"></div>
              <input
                type="text"
                id="startLocationHome"
                placeholder="Enter location"
                name="pickup"
              />
              <input
                type="text"
                id="endLocationHome"
                placeholder="Enter destination"
                name="destination"
              />
              <div class="home-btn">
                <button type="submit">
                  <span>See Prices</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="home-right">
        <img
          src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_698,h_873/v1535561347/assets/c1/8549ef-09f1-4b5c-be32-7c597a45fa10/original/D_Rider_Header_Global1x.png"
          alt=""
        />
      </div>
    </div>

    <script src="{{url_for('static', filename='scripts/home.js')}}"></script>
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = 'The Google Maps JavaScript API',
          c = 'google',
          l = 'importLibrary',
          q = '__ib__',
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement('script'));
              e.set('libraries', [...r] + '');
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => '_' + t[0].toLowerCase()),
                  g[k]
                );
              e.set('callback', c + '.maps.' + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + ' could not load.')));
              a.nonce = m.querySelector('script[nonce]')?.nonce || '';
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + ' only loads once. Ignoring:', g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: 'APIKEY', v: 'weekly' });
    </script>
  </body>
</html>
